.zindex-5 {
  z-index: 5;
  position: relative; /* Ensure z-index works properly */
}

.profile-container {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  margin-top: 60px;
  margin-bottom: 70px;
  text-align: center;
  font-family: 'Arial', sans-serif;
  z-index: 5;
}

h2 span{
  color:#00cbff;
}


.profile-container h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
  color: #ffffff;
  z-index: 5;
  font-family: nexaextra;
}

.all-container{
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.hod{
  z-index: 5;
}

.all-profiles {
  display: flex;
  flex-wrap: wrap; /* Allows wrapping to the next row */
  justify-content: center; /* Center-aligns the items */
  gap: 1rem; /* Adds spacing between the profiles */
  z-index: 5;
}

.hod-profile{
  z-index: 5;
}

.student-profile{
  z-index: 5;
}

.hod-profile img,
.fac-profile img,
.student-profile img {
  width: 80px; /* Reduced image size */
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 0.5rem;
  z-index: 5;
}

.hod-profile h2,
.fac-profile h2,
.student-profile h2 {
  font-size: 0.9rem;
  margin: 0.5rem 0;
  color: #ffffff;
  z-index: 5;
}

.faculty .fac-profile {
  z-index: 5;
  width: calc(33.33% - 7rem); /* Ensures three profiles per row */
  z-index: 5;
}

@media (max-width: 768px) {

  .profile-container{
    z-index: 5;
    margin-left: -30PX;
    padding-top: 20px;
  }

  .faculty .fac-profile {
    z-index: 5;
    width: calc(50% - 1rem); /* Adjust to two profiles per row on medium screens */
  }
  .hod-profile h2{
    font-size: 11px;
  }
}

@media (max-width: 480px) {
  .faculty .fac-profile {
    z-index: 5;
    width: 100%; /* Stacks profiles in a single column on small screens */
  }
}


.head-tag{
  z-index: 5;
}

.head-tadg h2 {
  font-family: pied;
  font-size: 50px; /* Increase the font size as needed */
  font-weight: bold;
  text-align: center;
  color: #ffffff; /* Customize the color if required */
  z-index: 5;
}

.hod-profile{
  /* border: solid 2px white; */
  margin: 2px;
  padding: 5px;
  border-radius: 20px;
}
