
.auto-cont{
  padding: 5rem;
  
}
.autotype-container {
  max-width: 25em;
  margin: 0 auto;
  font-family: 'Courier New', Courier, monospace;
  color: #333;
  position: relative;
  background: transparent;
  border: 2px solid #06e406;
  z-index: 3;
  border-radius: 5px;
}



h1 {
  font-size: 3rem;
  text-align: center;
  margin-bottom: 1.5rem;
  z-index: 2;
  position: relative;
}

h1 span{
  color: #0a06e4;
}



.autotype-head {
  padding: 0 4px;
  opacity: 1;
  color: #06e406;
  background-color: #37ca2c33;
  font-family:'Courier New', Courier, monospace;
  font-size: 1rem;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.autotype-dots {
  display: flex;
  gap: 8px;
  
}



.autotype-dot {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.autotype-red {
  background-color: red;
}

.autotype-yellow {
  background-color: yellow;
}

.autotype-green {
  background-color: green;
}

.autotype-content {
  font-family: 'Courier New', Courier, monospace;
  margin: -20px 0;
  font-size: 1.25rem;
  line-height: 1.8;
  white-space: pre-wrap;
  position: relative;
  z-index: 11;
  min-height: 100px;
  padding: 1rem;
  text-align: left;
  overflow-y: auto;
  color: #37ca2c;
}

pre {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1rem;
  color: #37ca2c;
  position: relative;
  z-index: 12;
  margin-bottom: -0PX;
}

@media (max-width: 600px) {
  .autotype-container {
    max-width: 30em;
    margin: 0 auto;
    margin-top: 60px;
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    position: relative;
    background: transparent;
    border: 2px solid #06e406;
    z-index: 3;
    border-radius: 5px;
  }
  .boxtype {
      width: 120%;
      padding: 0;
  }



  .autotype-content {
      font-size: 0.5rem;
      padding: 0.5rem;
  }

  pre {
    font-size: 15px;
  }

  h1 {
    font-size: 1rem;
  }
}
